.app {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image-container {
  width: 100px;
  height: 50px; 
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.animals-container{
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.element-container{
  border: .5px solid grey;
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

.element-container button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: large;
  color: grey;
  font-weight: bold;
}

.bird-info {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bird-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bird-info-header img {
  width: 180px;
  height: 240px;
  border-radius: 4px;
}

.bird-info h2 {
  color: #333;
}

.bird-info-details p {
  margin: 8px 0;
}

.bird-info-details strong {
  color: #555;
}


